<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Finanzas ISSSTE</title>
    <!-- NAVIGATION -->

    
    
  </head>
  <body>
       <link rel="stylesheet"  href="css/bootstrap.min.css"/> 

       <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
   
       <!-- navigation -->
    
      
      <nav class="navbar  navbar-dark bg-primary  ">
        
        <a href="/" class="navbar-brand">Derechohabiente</a> 
        

        <a href="/nuevo" class="navbar-brand">Registrar derechohabiente</a>
        

        

    </nav>
    <img src="https://www.gob.mx/cms/uploads/action_program/main_image/4045/post_issste1.jpg" ALIGN=RIGHT width="200" height="150">
  